### Матричные факторизации

В данной работе вам предстоит познакомиться с практической стороной матричных разложений.
Работа поделена на 4 задания:
1. Вам необходимо реализовать SVD разложения используя SGD на explicit данных
2. Вам необходимо реализовать матричное разложения используя ALS на implicit данных
3. Вам необходимо реализовать матричное разложения используя BPR(pair-wise loss) на implicit данных
4. Вам необходимо реализовать матричное разложения используя WARP(list-wise loss) на implicit данных

In [1]:

import implicit
import pandas as pd
import numpy as np
import scipy.sparse as sp

from lightfm.datasets import fetch_movielens

C:\Users\ASUS\anaconda3\lib\site-packages\lightfm\_lightfm_fast.py:10: UserWarning: LightFM was compiled without OpenMP support. Only a single thread will be used.
  "LightFM was compiled without OpenMP support. "

В данной работе мы будем работать с explicit датасетом movieLens, в котором представленны пары user_id movie_id и rating выставленный пользователем фильму

Скачать датасет можно по ссылке https://grouplens.org/datasets/movielens/1m/

In [2]:
ratings = pd.read_csv('ratings.dat', delimiter='::', header=None, 
        names=['user_id', 'movie_id', 'rating', 'timestamp'], 
        usecols=['user_id', 'movie_id', 'rating'], engine='python')
ratings

         user_id  movie_id  rating
0              1      1193       5
1              1       661       3
2              1       914       3
3              1      3408       4
4              1      2355       5
...          ...       ...     ...
1000204     6040      1091       1
1000205     6040      1094       5
1000206     6040       562       5
1000207     6040      1096       4
1000208     6040      1097       4

[1000209 rows x 3 columns]

In [3]:
movie_info = pd.read_csv('movies.dat', delimiter='::', header=None, 
        names=['movie_id', 'name', 'category'], engine='python')

Explicit данные

In [4]:
ratings.head(10)

   user_id  movie_id  rating
0        1      1193       5
1        1       661       3
2        1       914       3
3        1      3408       4
4        1      2355       5
5        1      1197       3
6        1      1287       5
7        1      2804       5
8        1       594       4
9        1       919       4

Для того, чтобы преобразовать текущий датасет в Implicit, давайте считать что позитивная оценка это оценка >=4

In [5]:
implicit_ratings = ratings.loc[(ratings['rating'] >= 4)]

In [6]:
implicit_ratings.head(10)

    user_id  movie_id  rating
0         1      1193       5
3         1      3408       4
4         1      2355       5
6         1      1287       5
7         1      2804       5
8         1       594       4
9         1       919       4
10        1       595       5
11        1       938       4
12        1      2398       4

Удобнее работать с sparse матричками, давайте преобразуем DataFrame в CSR матрицы

In [7]:
users = implicit_ratings["user_id"]
movies = implicit_ratings["movie_id"]
user_item = sp.coo_matrix((np.ones_like(users), (users, movies)))
user_item_t_csr = user_item.T.tocsr()
user_item_csr = user_item.tocsr()

В качестве примера воспользуемся ALS разложением из библиотеки implicit

Зададим размерность латентного пространства равным 64, это же определяет размер user/item эмбедингов

In [9]:
model = implicit.als.AlternatingLeastSquares(factors=64, iterations=100, calculate_training_loss=True)

WARNING:root:OpenBLAS detected. Its highly recommend to set the environment variable 'export OPENBLAS_NUM_THREADS=1' to disable its internal multithreading

В качестве loss здесь всеми любимый RMSE

In [10]:
model.fit(user_item_t_csr)

HBox(children=(FloatProgress(value=0.0), HTML(value='')))

Построим похожие фильмы по 1 movie_id = Истории игрушек

In [11]:
movie_info.head(5)

   movie_id                                name                      category
0         1                    Toy Story (1995)   Animation|Children's|Comedy
1         2                      Jumanji (1995)  Adventure|Children's|Fantasy
2         3             Grumpier Old Men (1995)                Comedy|Romance
3         4            Waiting to Exhale (1995)                  Comedy|Drama
4         5  Father of the Bride Part II (1995)                        Comedy

In [12]:
get_similars = lambda item_id, model : [movie_info[movie_info["movie_id"] == x[0]]["name"].to_string() 
                                        for x in model.similar_items(item_id)]

Как мы видим, симилары действительно оказались симиларами.

Качество симиларов часто является хорошим способом проверить качество алгоритмов.

P.S. Если хочется поглубже разобраться в том как разные алгоритмы формируют разные латентные пространства, рекомендую загружать полученные вектора в tensorBoard и смотреть на сформированное пространство

In [13]:
get_similars(1, model)

['0    Toy Story (1995)',
 '3045    Toy Story 2 (1999)',
 "2286    Bug's Life, A (1998)",
 '33    Babe (1995)',
 '584    Aladdin (1992)',
 '2315    Babe: Pig in the City (1998)',
 '360    Lion King, The (1994)',
 '1838    Mulan (1998)',
 '2618    Tarzan (1999)',
 '1526    Hercules (1997)']

Давайте теперь построим рекомендации для юзеров

Как мы видим юзеру нравится фантастика, значит и в рекомендациях ожидаем увидеть фантастику

In [8]:
get_user_history = lambda user_id, implicit_ratings : [movie_info[movie_info["movie_id"] == x]["name"].to_string() 
                                            for x in implicit_ratings[implicit_ratings["user_id"] == user_id]["movie_id"]]

In [15]:
get_user_history(4, implicit_ratings)

['3399    Hustler, The (1961)',
 '2882    Fistful of Dollars, A (1964)',
 '1196    Alien (1979)',
 '1023    Die Hard (1988)',
 '257    Star Wars: Episode IV - A New Hope (1977)',
 '1959    Saving Private Ryan (1998)',
 '476    Jurassic Park (1993)',
 '1180    Raiders of the Lost Ark (1981)',
 '1885    Rocky (1976)',
 '1081    E.T. the Extra-Terrestrial (1982)',
 '3349    Thelma & Louise (1991)',
 '3633    Mad Max (1979)',
 '2297    King Kong (1933)',
 '1366    Jaws (1975)',
 '1183    Good, The Bad and The Ugly, The (1966)',
 '2623    Run Lola Run (Lola rennt) (1998)',
 '2878    Goldfinger (1964)',
 '1220    Terminator, The (1984)']

Получилось! 

Мы действительно порекомендовали пользователю фантастику и боевики, более того встречаются продолжения тех фильмов, которые он высоко оценил

In [16]:
get_recommendations = lambda user_id, model : [movie_info[movie_info["movie_id"] == x[0]]["name"].to_string() 
                                               for x in model.recommend(user_id, user_item_csr)]

In [17]:
get_recommendations(4, model)

['585    Terminator 2: Judgment Day (1991)',
 '1271    Indiana Jones and the Last Crusade (1989)',
 '2502    Matrix, The (1999)',
 '1182    Aliens (1986)',
 '1284    Butch Cassidy and the Sundance Kid (1969)',
 '1178    Star Wars: Episode V - The Empire Strikes Back...',
 '847    Godfather, The (1972)',
 '3402    Close Encounters of the Third Kind (1977)',
 '1892    Rain Man (1988)',
 '453    Fugitive, The (1993)']

Теперь ваша очередь реализовать самые популярные алгоритмы матричных разложений

Что будет оцениваться:
1. Корректность алгоритма
2. Качество получившихся симиларов
3. Качество итоговых рекомендаций для юзера

Сделаем сначала с рейтингом тоже самое что и с implicit данными (для rmse)

In [9]:
users = ratings["user_id"]
movies = ratings["movie_id"]
user_item_exp = sp.coo_matrix((ratings["rating"], (users, movies)))

Задание состоит в разделении матрицы на две - юзеры и фильмы, чтобы рекомендовать и находить похожие, мне удобно будет сделать класс, от которого 4 раза можно отнаследоваться

Очевидно нам понадобится rmse и 2 предсказателя

In [10]:
from tqdm import tqdm
from sklearn import metrics
from sklearn.metrics.pairwise import cosine_similarity
import math
class Base:
    def __init__(self, matrix, ratings, k, amount_of_users, amount_of_movies, start):
        self.ratings = ratings
        self.amount_of_users = amount_of_users
        self.amount_of_movies = amount_of_movies
        self.matrix = matrix
        self.k = k
        self.U = np.random.uniform(0, start / math.sqrt(k), (amount_of_users, k))
        self.M = np.random.uniform(0, start / math.sqrt(k), (k, amount_of_movies))
        self.B_u = np.random.uniform(0, start / math.sqrt(k), (amount_of_users, 1))
        self.B_m = np.random.uniform(0, start / math.sqrt(k), (1, amount_of_movies))
        self.mu = ratings.rating.mean() 
    
    def rmse(self):
        ans = self.ratings
        matr2 = (self.U @ self.M)[ans["user_id"], ans["movie_id"]]
        return metrics.mean_squared_error(self.ratings["rating"], matr2, squared=True)
    def make_recomendation(self, u_id):
        print('User films')
        print()
        u_films = get_user_history(u_id, ratings)[:10]
        print(*u_films, sep='\n')
        print()
        print('Recomendation')
        print()
        prediction = self.U @ self.M
        rating = np.argsort(prediction[u_id])[::-1]
        return rating
        
    
    def make_recomendation(self, u_id):
        print('User films')
        print()
        u_films = get_user_history(u_id, self.ratings)[:10]
        print(*u_films, sep='\n')
        print()
        print('Recomendation')
        print()
        prediction = self.U @ self.M
        rating = np.argsort(prediction[u_id])[::-1]
        for i in rating[:10]:
            print(*movie_info[movie_info['movie_id'] == i][['name', 'category']].values)
        return

    def find_similar1(self, m_id):
        print('Film', movie_info[movie_info['movie_id'] == m_id][['name', 'category']].to_string())
        similarity = np.dot(self.M[:,m_id], self.M) / np.sqrt((self.M * self.M).sum(axis=0)) / np.sqrt((self.M[:,m_id] ** 2).sum())
        recomend = np.argsort(similarity)[::-1]
        for i in recomend[:10]:
            print(movie_info[movie_info['movie_id'] == i][['name', 'category']].values)
        return
        
    def find_similar2(self, m_id):
        movies = self.M.T
        print('Film', movie_info[movie_info['movie_id'] == m_id][['name', 'category']].to_string())
        matr1 = movies[m_id]
        matr2 = movies
        similarity = cosine_similarity(np.expand_dims(matr1, axis=0), self.M.T)[0]
        similarity = np.argsort(similarity)[::-1]
        #similarity = np.dot(self.M[:,m_id], self.M) / np.sqrt((self.M * self.M).sum(axis=0)) / np.sqrt((self.M[:,m_id] ** 2).sum())
        for i in similarity[:10]:
            print(movie_info[movie_info['movie_id'] == i][['name', 'category']].values)
        return

### Задание 1. Не использую готовые решения, реализовать SVD разложение используя SGD на explicit данных

Делаем все по презентации, добавляя Баеса

In [11]:
class SVD(Base):
    def __init__(self, matrix, ratings, k, amount_of_users, amount_of_movies, start):
        super().__init__(matrix, ratings, k, amount_of_users, amount_of_movies, start)
    def fit(self, ops, learning_rate = 0.01, regular = 0.001):
        inds = [i for i in range(len(self.ratings))]
        np.random.shuffle(inds)        
        for i in range(ops):
            ind = inds[i % len(self.ratings)]
            u_id = self.ratings.loc[ind]['user_id']
            m_id = self.ratings.loc[ind]['movie_id']
            rat = self.ratings.loc[ind]['rating']
            error = self.U[u_id] @ self.M[:,m_id] - rat #+ self.B_u[u_id] + self.B_m[:,m_id]
            self.U[u_id], self.M[:,m_id] = self.U[u_id] - learning_rate * (error * (self.M[:,m_id]).T + regular * self.U[u_id]), self.M[:,m_id] - learning_rate * (error * (self.U[u_id]).T + regular * self.M[:,m_id]) 
            self.B_u[u_id] = self.B_u[u_id] - learning_rate * (error + regular * self.B_u[u_id])
            self.B_m[:,m_id] = self.B_m[:,m_id] - learning_rate * (error + regular * self.B_m[:, m_id])
            self.mu -= learning_rate * error
            if (i % 100000 == 99999):
                print(self.rmse())

In [302]:
model1 = SVD(user_item_exp, ratings, 64, max(np.unique(ratings['user_id'])) + 1, max(np.unique(ratings['movie_id'])) + 1, np.sqrt(5))
model1.fit(50000000)

1.4128963404981347
1.0868766707104816
0.9775460609909443
0.9275856565687423
0.8986398142055274
0.8792319339929933
0.8677322446597712
0.8581926130376459
0.8525012260632937
0.8450313521729542
0.8420397953520407
0.8394254121171557
0.8337618316382864
0.8318608394286806
0.8287541845753974
0.8251606270435216
0.823212611841964
0.8200079106385986
0.8187264198032734
0.8137080389456107
0.811870070872488
0.8097394786117421
0.8037800580142801
0.8013109202649075
0.797141218441623
0.792195974186747
0.7882977429941315
0.7834697484894592
0.7802587371175377
0.7732088675187098
0.7688988314179441
0.7643972575124304
0.75660567133915
0.7520774977256613
0.7461186045957932
0.7397728022053589
0.7346449551586416
0.7283286316091647
0.724337824020763
0.7164768617595103
0.7114943922240705
0.7062546983710112
0.6983822668254513
0.6937066968528035
0.6872495449007521
0.6811944827384131
0.6761587252714077
0.6697822122636249
0.6657229753560518
0.6580722641776798
0.6530984726276434
0.6480883585604486
0.6407504864614714
0.6362719312802515
0.6302420501481573
0.6248000425815542
0.6205113703514357
0.6147448548030803
0.6107994098251994
0.6037956416152209
0.5993621325426589
0.5950790566733766
0.5885462512344429
0.5845025895342696
0.5794015595793773
0.5747482630817833
0.5709795028532503
0.5662905860827578
0.5627238174120549
0.5567988281482802
0.5527781249411813
0.5493618054091155
0.5437541978764455
0.5404159297643998
0.536086205677393
0.5322526143200502
0.5291161140094173
0.5253341518295391
0.5221307282378945
0.517331709764611
0.5138917565027281
0.5112212844468337
0.5064226775212789
0.5036396879327089
0.5002207355384044
0.4971424064493539
0.4945487990677355
0.4914136219820011
0.488727394527434
0.4848292800061079
0.4817639585022785
0.47980225805989224
0.4756415723250802
0.47346979661279015
0.47064591768145964
0.4683180517189129
0.4661564059701292
0.4635185143939782
0.46127151471500233
0.45818025534665136
0.4554079170574409
0.45413265521874946
0.45048809987336585
0.4486683509817182
0.4464912076696351
0.44457048383187575
0.4427396916621532
0.4403995844464309
0.43864633449498935
0.4361826038922987
0.4336600896599459
0.43294305103297626
0.4295379867182946
0.42807753759046696
0.4262169106244609
0.4248111199625871
0.4231665802118435
0.4212885354732817
0.4197217601757178
0.4177035928084518
0.4154338805893642
0.4151393827986247
0.4119595317102416
0.41071249439949187
0.40919862283609476
0.4080816981382313
0.40680787623023884
0.4049981288937518
0.40377619899592554
0.4020531834887438
0.39997720613154325
0.4000158448442438
0.39705524032152395
0.395935771146817
0.39475390711415886
0.3938925988786115
0.39270801740443856
0.3911178580700292
0.390101238847467
0.38869071084814216
0.3867557226706453
0.3869773019938336
0.3842816454991911
0.38324497963698273
0.3822424195968185
0.3815941312133056
0.38059181633932104
0.37906205205119076
0.3782757560010825
0.37703815422766646
0.3753362533472633
0.37564825154502873
0.3731395227681576
0.3722001815956448
0.37145466124454984
0.3708916307541727
0.37005486205057947
0.36854368158531414
0.3679592850264396
0.3669424326904032
0.3652747628987681
0.3657806235162089
0.3634009456384287
0.36262874245885474
0.3618670214142105
0.36157119617874983
0.3608670396431632
0.35928487168045703
0.3589623841416461
0.35810113629724694
0.356454030642155
0.3570863298124755
0.3547643351207479
0.3542553993860372
0.35344253024971944
0.3532427324050655
0.35277331176142884
0.35111351531292323
0.35093021569878136
0.35025469866536185
0.3487488073492849
0.34938339925096845
0.3471344780820898
0.3466946268992813
0.3459960027037521
0.34589815776638183
0.345565382170888
0.3438698572844766
0.34388845020720804
0.34316440356331324
0.34176412298419084
0.3423702521035629
0.3403853227889024
0.33992144325731033
0.3392821451352073
0.33925869371531103
0.3390288979252673
0.33736779354686985
0.33740076502780997
0.3369747749515656
0.3355796216494347
0.33611317575644817
0.3343639532673739
0.3339273431392382
0.333422569618755
0.3334972754208405
0.3332042231182425
0.33157824752907394
0.33165298991521863
0.33130141284191883
0.33003424472717
0.3305142273168968
0.3288179235225674
0.3285191928360639
0.32792973939986947
0.3280850855613452
0.32790908168006966
0.3263516712495771
0.3264078954092668
0.3260812837236619
0.32495719340016116
0.3253219735420694
0.32399353516245416
0.32359447568589245
0.32304216003373804
0.3232932392243205
0.32310778856762296
0.3215830297804288
0.3216398895928156
0.32144790877264023
0.3203595323235012
0.3206497087896159
0.31951729265402884
0.3190497301389777
0.3184548318622211
0.31879464492279846
0.31869649014189455
0.31723000888339603
0.3172965461226606
0.31730481770870517
0.31616224196419895
0.31642211342683113
0.3153397550623137
0.31496499305032194
0.31443244752402605
0.31478614402617094
0.31461336158867376
0.3132916926716943
0.31333905073018287
0.3133310085876778
0.3122579623488421
0.31250438103845957
0.31160801315976744
0.31133832499357256
0.3106400801941689
0.3111902127966049
0.31089252589527083
0.3097120847462473
0.30976336445562075
0.3097349743251683
0.3086854246286632
0.3089560850876776
0.3081878260282986
0.30788633056643055
0.30713877832061137
0.307792818373097
0.3074611144291308
0.30643272981147723
0.30642983682834346
0.3064460605078191
0.3055167631008928
0.3056630269642757
0.30497594448916593
0.30470035099250287
0.30397493310964446
0.3046306320902197
0.30440049122112567
0.30334434112558134
0.30331523390961534
0.3034299156069549
0.30249482185722465
0.30256656351082944
0.30196438405428827
0.3017457131560353
0.3010684067236805
0.3017444733420242
0.3015065371160476
0.30047666697875863
0.3004160877841908
0.30060949653613867
0.2996905128714629
0.2997055940985573
0.2992167274652044
0.2989927000455818
0.2983058748426952
0.2990823685324973
0.2987931303662068
0.29781757725435926
0.2977500210767538
0.2979681500166876
0.29704712300720865
0.2970901242751899
0.2967736155689967
0.29630989882424413
0.2956746556138613
0.29666477250591383
0.296209748411188
0.29526875460581364
0.2953336541517402
0.29567087641768774
0.29462801487908263
0.2946331950043105
0.29435583193163967
0.2940104977957704
0.29345979170176256
0.29436597466014264
0.29381857203290285
0.2928761840157627
0.29291503299097277
0.2933367387109449
0.29243348678608666
0.2923972114399455
0.2920755410737784
0.29179312518493206
0.29128903350535107
0.29218161549344196
0.2915607786756622
0.2907030097630553
0.29080346816479413
0.2911890037625566
0.2902836877673983
0.29029879472415904
0.2899925786973167
0.2897428013912517
0.2892473688483737
0.2902212451993973
0.2895367652354622
0.2886521378757199
0.2886746266141274
0.28915436278322815
0.2883376636640166
0.28816694913391
0.2880950445523359
0.28785168096127933
0.28729101401565127
0.2882340908538401
0.2876161894080345
0.2868350149746985
0.28666844069277725
0.28727132510880077
0.28633218237293045
0.28623028853100996
0.28625720818483474
0.28616071567793233
0.28545195956789593
0.2864015701429457
0.2857510894184488
0.28501392553976035
0.28494393263214324
0.2854619236992154
0.2845214936582152
0.2844095658257983
0.2846282957535879
0.28438545885872374
0.28366875420448034
0.28467043987125557
0.2840030419988524
0.28335530764211264
0.2833148290360725
0.28385260146124147
0.28286012620094775
0.2827604024160153
0.2830071488158908
0.2828249085983294
0.28194845162161414
0.2830775498402224
0.28242752841075613
0.2817291117169323
0.28170126555372704
0.28221802134024604
0.28131822703288967
0.28123926974207425
0.2814609793134368
0.28120019203625235
0.280472626792106
0.2815547112656957
0.28094438611007083
0.28017700255136896
0.28014526881961505
0.2807451437153764
0.27982620993306995
0.2797088977205798
0.27996961329613274
0.27963465701357765
0.27907315702451035
0.2800203823384278
0.279398133049854
0.27872276459693524
0.2786690282393167
0.27929806986491673
0.2783596617333377
0.2782410059981931
0.27860106495019893
0.2782665997327945
0.2776580282491349
0.2785790521936024
0.27805384936229943
0.27734967790030873
0.27731458799618214
0.27805470937732024
0.27699333348124744
0.2767864953566614
0.27724434593102565
0.27695790150399674
0.2763541666896801
0.27723041823121775
0.276757039908607
0.2760310740618921
0.2758913248724279
0.27674162221807813
0.27568772069606334
0.2755200521296459
0.2759590276812792
0.27563457821250187
0.2750896372403377

0.27590657307824673
0.27549608664716413
0.27484988230001944
0.27455551141440915
0.27551339000809266
0.2745040328625396
0.2742569531170587
0.27471187075772696
0.274430329558199
0.27388882810400966
0.27472197842972446
0.27431656550123823
0.2736024637351518
0.2733244805851374
0.274285475325391
0.273245881233942
0.273062765531401
0.27356348969000616
0.27330845185794167
0.2726369022780409
0.27359337923719956
0.27311907726424006
0.2724496625560224
0.2721785368647946
0.27320721560621475
0.2720970474419242
0.272006759162663
0.2724317137680978
0.2720489879124747
0.2715771486490969
0.2724613147060326
0.27195631376010704
0.2714028712499662
0.2711449123362482
0.27210494657275636
0.2709908733783047
0.2709452541138962
0.2713291590680737
0.2710056809190486
0.270563981431629
0.27134040775093765
0.2709767196036578
0.27035607410126766
0.2700676777406297
0.27100371288959896
0.26996385227378844
0.26991895893755713
0.2702983665846162
0.27001675092897953
0.2695265031621916
0.2703269640675227
0.2699560582098764
0.2693905110854263
0.26902884787417647
0.2699273589343914
0.26905773975945696
0.26894291054364644
0.2693227359459114
0.2691013537451729
0.2685953712285768
0.26939861303882057
0.26897460750944374
0.26846020327527226
0.2680366219911217
0.2688767468197454
0.26809345632860476
0.2681014969957934
0.2683291741945962
0.26805604273039074
0.267611778664704
0.2684526776957592
0.2679751295448908
0.26754458446774
0.2670712140863237
0.2679203680193562

Пора получать рекомендации и находить похожее

In [ ]:
model1.fit(1000000)

In [304]:
model1.make_recomendation(4)

User films

3399    Hustler, The (1961)
1192    Star Wars: Episode VI - Return of the Jedi (1983)
2882    Fistful of Dollars, A (1964)
1196    Alien (1979)
1023    Die Hard (1988)
257    Star Wars: Episode IV - A New Hope (1977)
1959    Saving Private Ryan (1998)
476    Jurassic Park (1993)
1178    Star Wars: Episode V - The Empire Strikes Back...
1180    Raiders of the Lost Ark (1981)

Recomendation

['Gay Divorcee, The (1934)' 'Comedy|Musical|Romance']
['Double Indemnity (1944)' 'Crime|Film-Noir']
['Godfather, The (1972)' 'Action|Crime|Drama']
['Next Stop, Wonderland (1998)' 'Comedy|Drama|Romance']
['Citizen Kane (1941)' 'Drama']
['Lone Star (1996)' 'Drama|Mystery']
['Casablanca (1942)' 'Drama|Romance|War']
['Lord of the Flies (1963)' 'Adventure|Drama|Thriller']
['Life Is Beautiful (La Vita и bella) (1997)' 'Comedy|Drama']
["One Flew Over the Cuckoo's Nest (1975)" 'Drama']

In [305]:
model1.find_similar1(1)

Film                name                     category
0  Toy Story (1995)  Animation|Children's|Comedy
[['Toy Story (1995)' "Animation|Children's|Comedy"]]
[['Toy Story 2 (1999)' "Animation|Children's|Comedy"]]
[["Bug's Life, A (1998)" "Animation|Children's|Comedy"]]
[['Wrong Trousers, The (1993)' 'Animation|Comedy']]
[['Apollo 13 (1995)' 'Drama']]
[['Line King: Al Hirschfeld, The (1996)' 'Documentary']]
[]
[['Close Shave, A (1995)' 'Animation|Comedy|Thriller']]
[['Gate of Heavenly Peace, The (1995)' 'Documentary']]
[['Aladdin (1992)' "Animation|Children's|Comedy|Musical"]]

Почти все мультики)

In [306]:
model1.find_similar2(10)

Film                name                   category
9  GoldenEye (1995)  Action|Adventure|Thriller
[['GoldenEye (1995)' 'Action|Adventure|Thriller']]
[['Tomorrow Never Dies (1997)' 'Action|Romance|Thriller']]
[['World Is Not Enough, The (1999)' 'Action|Thriller']]
[['Man with the Golden Gun, The (1974)' 'Action']]
[['Goldfinger (1964)' 'Action']]
[['Spy Who Loved Me, The (1977)' 'Action']]
[['Live and Let Die (1973)' 'Action']]
[['For Your Eyes Only (1981)' 'Action']]
[['View to a Kill, A (1985)' 'Action']]
[['Dr. No (1962)' 'Action']]

Мега крутые похожие фильмы (несколько бондиан и индиана джонс)

### Задание 2. Не использую готовые решения, реализовать матричное разложение используя ALS на implicit данных

Используем статью http://yifanhu.net/PUB/cf.pdf

In [11]:
class ALS(Base):
    def __init__(self, matrix, ratings, k, amount_of_users, amount_of_movies, start):
        super().__init__(matrix, ratings, k, amount_of_users, amount_of_movies, start)
        self.M = self.M.T
        self.C = self.matrix.toarray() * 0.01
        self.C = self.C + 1
    def fit(self, ops):
        for i in range(ops):
            if (i % 2 == 0):
                self.M = model.step(self.U, self.C.T, self.matrix.T)
            else:
                self.U = model.step(self.M, self.C, self.matrix)
            print(self.my_rmse())
    def step(self, matr, C_to_use, rate, learning_rate = 0.01):
        ans = np.zeros((len(C_to_use), self.k))
        for i in range(len(C_to_use)):
            bracket = np.linalg.inv(matr.T @ np.diag(C_to_use[i]) @ matr + learning_rate * np.eye(matr.shape[1]))
            #print(bracket.shape)
            bracket = bracket @ matr.T @ np.diag(C_to_use[i])
            ans[i] = (bracket @ rate[i].T).T
        return ans
        
        
    def my_rmse(self):
        ans = ratings
        matr2 = ((self.U @ self.M.T))[ans["user_id"], ans["movie_id"]]
        matr1 = self.matrix[ans["user_id"], ans["movie_id"]]
        matr1 = np.squeeze(np.asarray(matr1))
        #print(matr1)
        #print(matr2)
        #print(np.squeeze(self.matrix[ans["user_id"], ans["movie_id"]]))
        return metrics.mean_squared_error(matr1, matr2, squared=True)

In [283]:
model2 = ALS(user_item_csr, implicit_ratings, 64, max(np.unique(ratings['user_id'])) + 1, max(np.unique(ratings['movie_id'])) + 1, 1)
model2.fit(20)

0.455701184373924
0.3189876222076632
0.276442639871987
0.26368995632453907
0.2593893417743478
0.2567223388694169
0.2555222963371137
0.25455406588747614
0.25406650825405225
0.25360578433482406
0.25337037458614653
0.253114626146948
0.252989130716757
0.2528317016296451
0.2527591642380387
0.25265454001304594
0.2526091785070115
0.25253542346448976
0.2525049139341488
0.2524504411880954

Пора делать рекомендации (транспонируем так как в Базе другая размерность)

In [284]:
model2.M = model2.M.T
model2.make_recomendation(4)
model2.M = model2.M.T

User films

3399    Hustler, The (1961)
2882    Fistful of Dollars, A (1964)
1196    Alien (1979)
1023    Die Hard (1988)
257    Star Wars: Episode IV - A New Hope (1977)
1959    Saving Private Ryan (1998)
476    Jurassic Park (1993)
1180    Raiders of the Lost Ark (1981)
1885    Rocky (1976)
1081    E.T. the Extra-Terrestrial (1982)

Recomendation

['Raiders of the Lost Ark (1981)' 'Action|Adventure']
['Star Wars: Episode IV - A New Hope (1977)'
 'Action|Adventure|Fantasy|Sci-Fi']
['Jaws (1975)' 'Action|Horror']
['E.T. the Extra-Terrestrial (1982)' "Children's|Drama|Fantasy|Sci-Fi"]
['Saving Private Ryan (1998)' 'Action|Drama|War']
['Terminator, The (1984)' 'Action|Sci-Fi|Thriller']
['Alien (1979)' 'Action|Horror|Sci-Fi|Thriller']
['Die Hard (1988)' 'Action|Thriller']
['Terminator 2: Judgment Day (1991)' 'Action|Sci-Fi|Thriller']
['Rocky (1976)' 'Action|Drama']

In [285]:
model2.M = model2.M.T
model2.find_similar2(1)
model2.M = model2.M.T

Film                name                     category
0  Toy Story (1995)  Animation|Children's|Comedy
[['Toy Story (1995)' "Animation|Children's|Comedy"]]
[['Toy Story 2 (1999)' "Animation|Children's|Comedy"]]
[['Babe (1995)' "Children's|Comedy|Drama"]]
[["Bug's Life, A (1998)" "Animation|Children's|Comedy"]]
[['Aladdin (1992)' "Animation|Children's|Comedy|Musical"]]
[['Babe: Pig in the City (1998)' "Children's|Comedy"]]
[['Pleasantville (1998)' 'Comedy']]
[['Tarzan (1999)' "Animation|Children's"]]
[['Lion King, The (1994)' "Animation|Children's|Musical"]]
[['Hercules (1997)' "Adventure|Animation|Children's|Comedy|Musical"]]

In [286]:
model2.M = model2.M.T
model2.find_similar2(10)
model2.M = model2.M.T

Film                name                   category
9  GoldenEye (1995)  Action|Adventure|Thriller
[['GoldenEye (1995)' 'Action|Adventure|Thriller']]
[['Tomorrow Never Dies (1997)' 'Action|Romance|Thriller']]
[['World Is Not Enough, The (1999)' 'Action|Thriller']]
[['Rush Hour (1998)' 'Action|Thriller']]
[['Die Hard: With a Vengeance (1995)' 'Action|Thriller']]
[['Licence to Kill (1989)' 'Action']]
[['View to a Kill, A (1985)' 'Action']]
[["Jackie Chan's First Strike (1996)" 'Action']]
[['Man with the Golden Gun, The (1974)' 'Action']]
[['For Your Eyes Only (1981)' 'Action']]

Получилось!!!

### Задание 3. Не использую готовые решения, реализовать матричное разложение BPR на implicit данных

https://arxiv.org/ftp/arxiv/papers/1205/1205.2618.pdf

In [21]:
class BPR(ALS):
    def __init__(self, matrix, ratings, k, amount_of_users, amount_of_movies, start):
        super().__init__(matrix, ratings, k, amount_of_users, amount_of_movies, start)
    def sigmoid(self, values):
        return 1 / (1 + np.exp(-values))
    def fit(self, ops, learning_rate=0.01):
        ans = ratings
        matr1 = self.matrix[ans["user_id"], ans["movie_id"]]
        loss = []
        for i in range(ops):
            for u_id in range(self.amount_of_users):
                all_rates = ratings[ratings["user_id"] == u_id]
                bad_rates = all_rates[all_rates["rating"] < 4].values
                good_rates = all_rates[all_rates["rating"] > 3].values
                if (bad_rates.shape[0] == 0 or good_rates.shape[0] == 0):
                    continue
                np.random.shuffle(good_rates)
                np.random.shuffle(bad_rates)
                bad_rates = bad_rates[:1][:, 1]
                good_rate = good_rates[:1][:, 1]
                bad_matrix = self.M[bad_rates]
                good_matrix = self.M[good_rate]
                values = self.U[u_id] @ good_matrix.T - self.U[u_id] @ bad_matrix.T
                loss.append(values)
                self.U[u_id] += ((self.sigmoid(values).sum() * (good_matrix * bad_matrix.shape[0] - bad_matrix.sum(axis=0)) - 0.001 * self.U[u_id]) * learning_rate)[0]
                self.M[good_rate] += (self.sigmoid(values).sum() * self.U[u_id] - 0.001 * self.M[good_rate]) * learning_rate
                for x in range(bad_rates.shape[0]):
                    self.M[bad_rates[x]] -= (self.sigmoid(values)[x] * self.U[u_id] - 0.001 * self.M[bad_rates[x]]) * learning_rate
            print(np.mean(loss))
            loss = []

In [22]:
model3 = BPR(user_item_csr, implicit_ratings, 64, max(np.unique(ratings['user_id'])) + 1, max(np.unique(ratings['movie_id'])) + 1, 1)
model3.fit(100)

0.0015062527291793866
0.0058714854928497645
0.01080490526871097
0.015340618231616717
0.0211020392784494
0.0242889081776889
0.0291582772545619
0.03577757723719308
0.04018588124104806
0.046294738474854276
0.04933250013211945
0.057614244933809296
0.0628842049017209
0.0690586060233449
0.07553654006236182
0.08477707338074908
0.0876726831032754
0.09246266530721274
0.10626087538263267
0.10863651940060971
0.11889150049485465
0.12308548000846029
0.13762715660402947
0.13450945878035916
0.15076874894280032
0.15606984075968797
0.17257642435257395
0.17990222689918628
0.1961887297123002
0.20133808843657416
0.22434691871786447
0.21621163061783796
0.2281378482497392
0.24150346911712742
0.25570229954904294
0.265619772701185
0.29093284294063954
0.32450533537490217
0.3026868711759487
0.3457520667666115
0.37295713147470666
0.3956367245877424
0.4048117501928546
0.41036636685052724
0.4494638283306213
0.5172844709570991
0.5142216712340747
0.5361531123504402
0.5799112698627432
0.6020783379045845
0.6345702664864651
0.6955228027451904
0.7041504635831942
0.8014659833639289
0.8333567939177673
0.8126858135052385
0.8950446939750414
1.015670058570039
0.9705338588102904
1.0977182291790146
1.1130205314794228
1.2248699499649442
1.275117856795603
1.3823731284898741
1.3946440922981949
1.5585262374382376
1.6522798634950244
1.8173840341980012
1.7922301838050556
1.9004876044623993
1.8918942301402653
2.2454875439304005
2.189083373048711
2.3166450396943015
2.678006272255918
2.7992058660612287
2.952079887115579
3.0848817713160335
3.6357920894897724
3.525867575174527
4.100279612343412
4.151800667106363
4.628307061314506
4.510804659167611
4.755393649279824
5.33152909129669
5.968349596850652
6.222591140418624
6.5863044727243
6.52679751605529
7.165905859893113
8.341698962681825
8.665875066094689
9.185385276909807
9.53280630907362
10.495003170332224
10.820630604761265
11.862996796397823
12.08727331839517
13.368671851332284

In [23]:
model3.fit(100)

In [24]:
model3.M = model3.M.T
model3.make_recomendation(4)
model3.M = model3.M.T

User films

3399    Hustler, The (1961)
2882    Fistful of Dollars, A (1964)
1196    Alien (1979)
1023    Die Hard (1988)
257    Star Wars: Episode IV - A New Hope (1977)
1959    Saving Private Ryan (1998)
476    Jurassic Park (1993)
1180    Raiders of the Lost Ark (1981)
1885    Rocky (1976)
1081    E.T. the Extra-Terrestrial (1982)

Recomendation

['American Beauty (1999)' 'Comedy|Drama']
['Star Wars: Episode IV - A New Hope (1977)'
 'Action|Adventure|Fantasy|Sci-Fi']
['Saving Private Ryan (1998)' 'Action|Drama|War']
['Silence of the Lambs, The (1991)' 'Drama|Thriller']
['Star Wars: Episode V - The Empire Strikes Back (1980)'
 'Action|Adventure|Drama|Sci-Fi|War']
['Sixth Sense, The (1999)' 'Thriller']
["Schindler's List (1993)" 'Drama|War']
['Raiders of the Lost Ark (1981)' 'Action|Adventure']
['Braveheart (1995)' 'Action|Drama|War']
['Star Wars: Episode VI - Return of the Jedi (1983)'
 'Action|Adventure|Romance|Sci-Fi|War']

In [25]:
model3.M = model3.M.T
model3.find_similar2(1)
model3.M = model3.M.T

Film                name                     category
0  Toy Story (1995)  Animation|Children's|Comedy
[['Toy Story (1995)' "Animation|Children's|Comedy"]]
[['Matrix, The (1999)' 'Action|Sci-Fi|Thriller']]
[['Saving Private Ryan (1998)' 'Action|Drama|War']]
[['Shawshank Redemption, The (1994)' 'Drama']]
[['Star Wars: Episode V - The Empire Strikes Back (1980)'
  'Action|Adventure|Drama|Sci-Fi|War']]
[['Shakespeare in Love (1998)' 'Comedy|Romance']]
[['Sixth Sense, The (1999)' 'Thriller']]
[['American Beauty (1999)' 'Comedy|Drama']]
[['Braveheart (1995)' 'Action|Drama|War']]
[['Terminator 2: Judgment Day (1991)' 'Action|Sci-Fi|Thriller']]

In [26]:
model3.M = model3.M.T
model3.find_similar2(10)
model3.M = model3.M.T

Film                name                   category
9  GoldenEye (1995)  Action|Adventure|Thriller
[['GoldenEye (1995)' 'Action|Adventure|Thriller']]
[['Con Air (1997)' 'Action|Adventure|Thriller']]
[['Star Trek: Insurrection (1998)' 'Action|Sci-Fi']]
[['Cruel Intentions (1999)' 'Drama']]
[['Clueless (1995)' 'Comedy|Romance']]
[['Crying Game, The (1992)' 'Drama|Romance|War']]
[['Poseidon Adventure, The (1972)' 'Action|Adventure']]
[['Escape from the Planet of the Apes (1971)' 'Action|Sci-Fi']]
[['Antz (1998)' "Animation|Children's"]]
[['Thelma & Louise (1991)' 'Action|Drama']]

### Задание 4. Не использую готовые решения, реализовать матричное разложение WARP на implicit данных